/*about-aircustom.html*/
.banner-page{
  height: 610px;
  width: 100%;
}
.banner-aircustom{
  /* @meta {"spritesheet":{"include":false}} */
  background: url('../images/banner-aircustom.jpg') no-repeat center;
}
.aircustom-about-wrap{
  width: 100%;
  height: 1100px;
  /* @meta {"spritesheet":{"include":false}} */
  background: url('../images/bg-air-custom-1.jpg') no-repeat center;
  color: #363636;
  text-align: center;
  padding-top: 77px;
}
.aircustom-about__title{
  font-size: 40px;
  color: #4c4c4c;
}
.aircustom-about__p-1{
  margin: 88px auto 0px;
}
.aircustom-about__p-2{
  margin: 78px auto 0px;
}
.aircustom-about-wrap p,
.aircustom-viewspoint-wrap p,
.aircustom-totem-wrap p{
  font-size: 20px;
  line-height: 47px;
}
.aircustom-viewspoint-wrap{
  text-align: center;
  padding-top: 80px;
  padding-bottom: 75px;
}
.aircustom-viewspoint__title{
  padding-bottom: 32px;
  font-size: 40px;
  color: #0f1d41;
  /* @meta {"spritesheet":{"include":false}} */
  background: url('../images/common/bg-title.png') no-repeat bottom center;
}
.aircustom-viewspoint__ul{
  width: 1200px;
  margin: 46px auto 0px;
}
.aircustom-viewspoint__ul li{
  float: left;
  width: 382px;
  height: 198px;
  margin-left: 27px;
  color: #0f1d41;
  /* @meta {"spritesheet":{"include":false}} */
  background: url('../images/bg-viewspoint-li.png') no-repeat bottom center;
}
.aircustom-viewspoint__ul li:first-child{
  margin-left: 0px;
}
.aircustom-viewspoint__ul li i,
.aircustom-viewspoint__ul li em{
  display: block;
  color: #7e8698;
  font-weight: normal;
}
.aircustom-viewspoint__ul li i{
  font-size: 16px;
  letter-spacing: 5px;
  margin-right: -5px;
}
.aircustom-viewspoint__ul li em{
  font-size: 24px;
  letter-spacing: 8px;
  margin-right: -8px;
  margin-bottom: 25px;
}
.aircustom-viewspoint__ul li p{
  font-size: 24px;
  line-height: 40px;
}
.aircustom-totem-wrap{
  height: 1350px;
  padding-top: 80px;
  margin-bottom: 105px;
  /* @meta {"spritesheet":{"include":false}} */
  background: url('../images/bg-totem.png') repeat -54px;
}
.aircustom-totem__title{
  text-align: center;
  font-size: 40px;
  color: #0f1d41;
  padding-bottom: 34px;
  /* @meta {"spritesheet":{"include":false}} */
  background: url('../images/common/bg-title-2.png') no-repeat bottom center;
}
.aircustom-totem__p-1{
  width: 1200px;
  text-align: center;
  margin: 48px auto 0px;
}
.aircustom-totem__p-2{
  width: 1203px;
  margin: 20px auto;
}
.aircustom-totem__left{
  width: 900px;
  background-color: #fff;
}
.aircustom-totem__left-txt-1{
  padding: 16px 5px 0px 312px;
  color: #c4a07a;
  letter-spacing: -1px;
}
.aircustom-totem__left-txt-1 p{
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 10px;
}
.aircustom-totem__left-txt-2{
  font-size: 12px;
  padding: 16px 18px;
}
.aircustom-totem__img-2{
  margin-top: 18px;
  max-width: 900px;
}
.aircustom-totem__right{
  max-width: 285px;
  position: absolute;
  top: 0px;
  right: 0px;
}
.aircustom-totem__right img{
  max-width: 285px;
  margin-bottom: 20px;
}

/*service.html*/
.banner-service{
  /* @meta {"spritesheet":{"include":false}} */
  background: url('../images/pages/banner-service.jpg') no-repeat center;
}
.service-part-1{
  width: 900px;
  margin: 0px auto;
  padding: 56px 0 93px;
}
.service-points__ul{
  width: 900px;
  margin: 0 auto;
}
.service-points__ul li{
  min-height: 245px;
  margin-top: 71px;
  position: relative;
  background-color: #e6e6e6;
}
.service-points__ul li:first-child{
  margin-top: 0;
}
.service-points__li-left{
  text-align: left;
  padding-left: 450px;
}
.service-points__li-right{
  text-align: right;
  padding-right: 450px;
}
.service-points__ul li h2{
  font-size: 34px;
  color: #c4a07a;
  padding-top: 18px;
}
.service-points__ul li:first-child h2{
  padding-top: 33px;
}
.service-points__ul li div{
  margin-top: 13px;
}
.service-points__ul li p{
  font-size: 20px;
  line-height: 2;
}
.service-part-2{
  padding: 82px 0 98px;
  font-size: 50px;
  color: #c4a07a;
}
.service-part-2__1{
  width: 900px;
  margin: 56px auto 0;
}
.service-part-2__img-6{
  width: 829px;
  height: 376px;
  position: absolute;
  top: -160px;
  left: -438px;
  /* @meta {"spritesheet":{"include":false}} */
  background: url('../images/pages/img-service-6-1.png') no-repeat center;
}
.service-part-3{
  width: 900px;
  margin: 98px auto 93px;
  background-color: #f4f5f5;
}
.service-finish__ul .service-finish__img,
.service-finish__ul .service-finish__txt{
  float: left;
  width: 450px;
}
.service-finish__txt{
  padding: 48px 25px 0px;
}
.service-finish__ul .service-finish__txt h3{
  text-align: center;
  font-size: 26px;
  color: #c4a07a;
  padding-bottom: 26px;
  margin-bottom: 26px;
  /* @meta {"spritesheet":{"include":false}} */
  background: url('../images/common/bg-title-2.png') no-repeat bottom center;
}
.service-finish__ul .service-finish__txt p{
  padding-left: 20px;
  margin-top: 18px;
  font-size: 15px;
  color: #727171;
  position: relative;
}
.service-finish__ul .service-finish__txt p:first-child{
  margin-top: 0;
}
.service-finish__ul .service-finish__txt p:before{
  content: "◇";
  position: absolute;
  left: 0px;
}






